h1{
	text-align: center;
	font-size: 60px;
	background: #990033;
	margin-bottom: 0;
}
.container{
	background: #cccc99;
}
h2{
	padding-top: 50px;
	font-size: 40px;
	margin-top: 0;
}
.answer{
	width: 50%;
}
form{
	padding-bottom: 500px;
}
